*{
    margin: 0;
    font-family: segoe UI;
    box-sizing: border-box;
}
/* Estilos del header */
header{
    background: #333;
    height: 90px;
    line-height: 70px;
    width: 100%;
    text-align: center;
}

header div {
    float: left;
}

/* Menu desplegable*/
#menu-bar {
    display: none;
}

.navMenu{
    width: 6%;
}

label:hover {
    background:rgba(0,0,0,0.8);
}

label {
    display: block;
    font-size: 30px;
    cursor:pointer;
    color: white;
    padding: 8px;
    max-height:100%;
}

.menu {
    list-style: none;
    position: absolute;
    transform: translate(-100%);
    transition: all 0.8s;
    /*width: 25%;
    background: rgba(5,50,50,0.2);
    */
}

.menu ul {
    background: #333;
    margin: 0;
    padding: 0;
    border: 1px solid #fff;
}

.menu ul a{
    text-decoration: none;
    display: block;
    padding: 20px;
    color: white;
}

.menu ul :hover {
     background: rgba(255,255,255,0.3);
     border-left:3px solid white;
    transition: border 0.2s;
}

#menu-bar:checked ~ .menu {
    transform: translate(0%);
    transition: all 0.8s;
}

.wraperLogo {
    margin:5px 30px;
    max-width: 40%;
    max-height: 90%;
    text-align: center;
}
.wraperLogo img {
    width: 85px;
    height: 80px;
}

.search-header-main{
    width: 40%;
    max-height: 100%;
    margin:10px;
}
.search-header-main .content-search{
    border-radius: 8px;
    background: white;
    padding:10px 15px;
}
.content-search{ 
    display: inline-flex;
    width: 80%;
    height: 60px;
}
.content-search input{
    width: 100%;
    background: white;
    border: none;
    padding:8px 2px;
    color: #777;
    padding: 10px;
}
.content-search img{
    height: 40px;
    color: #777;
    background: #ededed;
    cursor: pointer;
}
 
.wrapper {
    background-image:url(../img/map-LaboratoriaSede.png);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    height: 80%;
    width:60%;
    margin: auto;
}

.headquarters {
    display:inline-block;
    padding: 20px;
    margin: 20px;
    background: rgba(3,3,3,0.2);
    border-radius: 10px;
}

@media screen and (max-width:800px){
    .wrapper {
       width:80%;
    }
    
    .headquarters {
        width: 100%;
    }
    
    label {
        width: 50px;
    }
}

















